*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;  /* for making it responsive*/
	font-family: 'Flamenco', cursive;
}

header{
	background-image: url('../images/background.PNG');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.clearfix:after{     
	content: "."
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.row{
	max-width: 1180px;
	margin: 0 auto;
}
.logo{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
}
.main-nav{
	float: right;
	margin-top: 60px;
}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid red;
}
.main-content-header{
	background-color: black;
	padding: 50px 30px;
	width: 500px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-130%, -50%); /* for deducting 50%*/
}
h1{
	color: #fff;
	word-spacing: 0px;
	margin-bottom: 40px;
	font-weight: lighter;
}
.button{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.full{
	background-color: transparent;
	color: white;
	margin-right: 15px;
	border: 1px solid white;
}
.full:hover{
	background-color:red;
}
.change{
	color:red;
}

.mobile-icon{
	display: none;
}

/* RESPONSIVE QUERIES */

@media only screen and (max-width: 1180px){
	.main-content-header{
		width: 100%;
		padding: 0 2px;
	}
}
@media only screen and (max-width: 998px){
	h1{ font-size:200%; }
}
@media only screen and (max-width: 1059px){
	h1
	{
		font-size: 180%;
	}
	.main-nav
	{
		 display: none;
		 float: left;
	}
		.mobile-icon{
		display: inline-block;
		color: white;
		float: right;
		margin-top: 30px;
		margin-right: 20px;
	}

	.main-nav li{
		display:block;
		margin-top:10px;
	}
}

@media only screen and (max-width: 480px){
	.button{
		margin-bottom: 20px;
	}
	h1{
		font-size: 160%;
	}
}


